.brander {
    -fx-background-image: url('brannerBackground.jpg');
    -fx-background-position: center center;
}

.backgroundShowMovies{
    -fx-background-image: url('bachgroundShowMovies.png');
    -fx-background-position: 50% 50% ;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
}

.testBackground{
    -fx-background-image: url('starting-background.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
}

.background {
    -fx-background-image: url('blur_backgroundShowMovies.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: fixed;
}