.branner {
    -fx-background-image: url('brannerBackground.jpg');
    -fx-background-position: center;
}

.backgroundShowMovies{
    -fx-background-image: url('bachgroundShowMovies.png');
    -fx-background-position: 50% 50% ;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
}