.brander {
    -fx-background-image: url('brannerBackground.jpg');
    -fx-background-position: center center;
}

.topAboutScene {
    -fx-background-image: url('topBacgroundAboutScene.jpg');
    -fx-background-position: center center;
}

.backgroundAboutScene {
    -fx-background-image: url('wallpaperAbout.jpg');
    -fx-background-attachment: fixed;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.backgroundShowMovies{
    -fx-background-image: url('bachgroundShowMovies.png');
    -fx-background-position: 50% 50% ;
    -fx-background-repeat: no-repeat;
    -fx-background-attachment: fixed;
}

.startBackground{
    -fx-background-image: url('starting-background.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-background-attachment: scroll;
}

.background {
    -fx-background-image: url('blur_backgroundShowMovies.png');
    -fx-background-attachment: fixed;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.register {
    -fx-background-image: url('register-background.jpg');
    -fx-min-height: 500px;
    -fx-background-attachment: fixed;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.accountBackground {
    -fx-background-image: url('brannerBackground.jpg');
    -fx-background-attachment: fixed;
    -fx-background-position: top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}